# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/runtime/
.env
/certs/*

# IDE
.idea

floolishman
floolishman-guider
floolishman.exe
floolishman-guider.exe
